.display-block{
	float:left;
}
.shield-success{
	width:32px;
	height:30px;
}
.bitStatus{
	margin-top: 7px;
    margin-right: 5px;
}
.infoIcon{
    width: 23px;
    margin-top: 6px;
}
.bit-switch{
	float: left;
    margin-top: 5px;
    margin-right: 10px;
}
.full-block{
	width:100%;
}
.info_shield{
    width: 16px;
    height: 18px;
    margin-right: 8px;	
}
.bell_icon{
    width: 25px;
    height: 25px;
    margin-left: -5px;
    margin-right: 3px;
}
.shield-error{
	width:30px;
	height:28px;
}
#bitdefenderControlsTable #bitButtonActivate.button-apply span{
	float:left;
}

#bitdefenderControlsTable #bitButtonActivate.button-apply span.apply-icon{
	float:right;
}	

#bitdefenderControlsTable #bitButtonActivate.button-apply span.roundleft_apply{
	min-width:95px;
}

#bitdefenderControlsTable .right-block{
	height:33px;
}
#bitButtonActivate{
    margin-bottom: 13px;
}
.instruct-desc-text{
    float: left;
    margin-left: 77px;
    width: 100%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dashbaordAlertBox{
	 background-color: white;
	 border-radius: 10px;
	 border: 6px solid #b3b5b2;
	 display: block;
	 clear:both;
	 font-size: 14px;
	 font-weight: bold;
	 font-family: Arial,Simsun,Helvetica, sans-serif;
	 color: #323232;
	 white-space: nowrap;
	 overflow: hidden;
	 width: 591px;
	 line-height: 33px;
	 cursor: default;
}

#bitBlockLogo2,
#bitBlockLogo{
    float: left;
    width: 200px;
}

#bitBlockLogo2 span,
#bitBlockLogo span{
    float: left;
    width: 100%;
    text-align: center;
	margin-bottom: 20px;
}


.blockSeparator{
    float: left;
    background-color: rgba(204, 204, 204, 0.26);
    height: 113px;
    width: 3px;
    margin-top: 27px;
    margin-left: -5px;
}
#bitBlockSummary{
    float: left;
    width: 390px;
}

#bitBlockLogo2 img,
#bitBlockLogo img{
    width: 79px;
    height: 89px;
    margin-left: 56px;
    margin-top: 20px;    
}
#bitBlockSummary .block-title{
    margin-top: 23px;
    margin-left: 19px;
    float: left;
    width: 100%;
    margin-bottom: 6px;
}
#bitBlockSummary .full-block{
	width:100%;
	float:left;
}
#bitBlockSummary .shield-icon{
    width: 13px;
    height: 15px;
    margin-left: 20px;
    margin-right: 5px;
}
.summary-text{
    float: left;
    font-size: 11px;
    margin-top: -8px;
}
.shieldicon-wrapper{
	float:left;
}
#bitBlockStatus{
	float: left;
    width: 100%;
    border-top:2px solid rgba(204, 204, 204, 0.26);
}
.statusText{
	margin-left:36px;
} 
.block-color-green{
    color: #43A800;
	margin-left:5px;    
}
#bitBlockState-right{
	float:right;
}
#bitBlockState-right span{
	float:left;
}
#bitBlockState-right .shieldSuccess-wrapper{
	margin-top:4px;
}
#bitBlockState-right .shieldSuccess-wrapper img{
	width: 26px;
    height: 24px;
}
#bitBlockState-right .bitStatus{
	line-height: 19px;
    margin-right: 5px;
    margin-left: 2px;
}
#bitBlockState-right .infoIcon-wrapper{
    margin-top: 2px;
    margin-right: 10px;
}