
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 21px;
  /*height: 34px;*/
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ccc;*/
  background-color: rgb(248, 248, 248);
  -webkit-transition: .4s;
  transition: .4s;
    border: 1px solid hsla(0, 0%, 87%, 0.36);
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: #DDD;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #97c453;
  border:0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #97c453;
  border:0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  background-color: #FFF;
    bottom: 3px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
